<!DOCTYPE html>
<html>

<head>
    <title>To Do App</title>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Qwigley&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/animations.css">
</head>

<body>
    <div class="fullpage" id="vueArea">
        <a name="top"></a>
        <!--Sticky nav-->
        <nav class="navbar navbar-expand navbar-dark sticky-top px-5 lhn">
            <a class="navbar-brand" href="#">
                <h1>To do list</h1>
            </a>
        </nav>

        <!--Heading-->
        <header>
            <div class="addPanel container-fluid px-5 py-2">
                <h2>Add a task to your list:</h2>
                <!--Add a task button-->
                <div id="addNew">
                    <input id="writeTaskName" type="text" placeholder="Task Name" v-model="liNew.taskName">
                    <input id="category" type='text' placeholder="Task Category" v-model="liNew.taskCat">
                    <input id="date" type='date' placeholder="Due Date" v-model="liNew.taskDate">
                    <!--<input id="priority" type='number' placeholder="Priority #" v-model="liNew.taskPrio">-->
                    <select name="Priority" id="priority" type='number' v-model="liNew.taskPrio">
                        <option value="" disabled selected hidden>Priority</option>
                        <option value="Urgent">Urgent</option>
                        <option value="Regular">Regular</option>
                        <option value="Low Priority">Low Priority</option>
                    </select>
                    <button @click="pushTask" id="add" type="button" class="btn btn-primary">
                        Create new task
                    </button>
                </div>
            </div>
        </header>

        <!--Main Area-->
        <div class="mainArea container-fluid content col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-5 mx-auto">
            <div id="tHeaders">
                <h2 id="tasks">Tasks</h2>
                <button @click="sort('taskName')" id="sort" type="button" class="btn btn-primary">Sort A-Z</button>
                <button @click="sort('taskCat')" id="sortCategory" type="button" class="btn btn-primary">Sort by
                    Category</button>
                <button @click="sort('taskDate')" id="sortDate" type="button" class="btn btn-primary">Sort By
                    Date</button>
                <button @click="sort('taskPrio')" id="sortPrio" type="button" class="btn btn-primary">Sort By
                    Priority</button>
            </div>
            <hr>
            <!--Section Content, List-->

            <ul id="taskList">
                <li class="liOutput" v-for='(item, index) in sortedItems'>
                    <input id="doneOutputID" @click="strike(item,index)" class="done" type="checkbox"
                        v-model="item.taskDone">

                    <span v-if="!item.taskEditable" id="taskOutputID" class="taskOutput"
                        :contenteditable="item.taskEditable===true"
                        :class="{strike : item.taskDone}">{{item.taskName}}</span>
                    <input id="nameEdit" v-if="item.taskEditable" type="text" v-model="item.taskName" class="taskField">

                    <span v-if="!item.taskEditable" id="catOutputID" class="catOutput"
                        :contenteditable="item.taskEditable===true"
                        :class="{strike : item.taskDone}">{{item.taskCat}}</span>
                    <input id="catEdit" v-if="item.taskEditable" type="text" v-model="item.taskCat" class="taskField">

                    <span v-if="!item.taskEditable" id="dateOutputID" class="dateOutput"
                        :contenteditable="item.taskEditable===true"
                        :class="{strike : item.taskDone}">{{item.taskDate}}</span>
                    <input id="dateEdit" v-if="item.taskEditable" type="date" v-model="item.taskDate" class="taskField">

                    <span v-if="!item.taskEditable" id="prioOutputID" class="prioOutput"
                        :contenteditable="item.taskEditable===true"
                        :class="{strike : item.taskDone, highPrio:item.taskPrio === 'Urgent', medPrio:item.taskPrio === 'Regular', lowPrio:item.taskPrio === 'Low Priority'}">{{item.taskPrio}}</span>
                    <!--<input v-if="item.taskEditable" type="number" v-model="item.taskPrio" class="taskField">-->
                    <select id="prioEdit" v-if="item.taskEditable" type="number" v-model="item.taskPrio"
                        class="taskField">
                        <option value="" disabled selected hidden>Priority</option>
                        <option value="Urgent">Urgent</option>
                        <option value="Regular">Regular</option>
                        <option value="Low Priority">Low Priority</option>
                    </select>

                    <button @click="editItem (item, index)" class="edit">&#128393</button>
                    <button @click="deleteItem (item, index)" class="remove">&#10005</button>
                </li>
            </ul>
            </section>

            <!--Footer with back to top-->
            <footer>
                <hr>
                <a id="backtotop" href="#top">Back to the top of page</a>
            </footer>

        </div>

    </div>


    <!--Vue, Javascript, Popper, Jquery bundle-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
        
    <!--<script src="scripts/script.js"></script>-->

    <script>
        new Vue({
            el: '#vueArea',
            data: {
                liNew: {
                    taskName: '',
                    taskCat: '',
                    taskDate: '',
                    taskPrio: '',
                    taskDone: false,
                    taskEditable: false,
                    taskDelete: false,
                },

                myArray: [],

                sortBy: 'name',
                sortDirection: 'asc',
            },

            methods: {
                pushTask() {
                    this.myArray.push(Object.assign({}, this.liNew));
                    const taskArrStorage = JSON.stringify(this.myArray);
                    localStorage.setItem("taskArrStorage", taskArrStorage);
                    console.log('Array Stored in Local')
                },

                editItem(item, index) {
                    item.taskEditable = !item.taskEditable;
                    const taskArrStorage = JSON.stringify(this.myArray);
                    localStorage.setItem("taskArrStorage", taskArrStorage);
                    console.log('Array Stored in Local')
                },

                strike(item) {
                    item.taskDone = !item.taskDone;
                    const taskArrStorage = JSON.stringify(this.myArray);
                    localStorage.setItem("taskArrStorage", taskArrStorage);
                    console.log('Array Stored in Local')
                },

                deleteItem(item, index) {
                    this.myArray.splice(index, 1);
                    const taskArrStorage = JSON.stringify(this.myArray);
                    localStorage.setItem("taskArrStorage", taskArrStorage);
                    console.log('Array Stored in Local')
                },

                sort: function (s) {
                    if (s === this.sortBy) {
                        this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
                    }
                    this.sortBy = s;
                }
            },

            mounted: function (item) {
                let taskSaved = localStorage.getItem("taskArrStorage");
                let taskLoad = JSON.parse(taskSaved);
                if (taskLoad === null) {
                    console.log('No objects in array')
                } else {
                    this.myArray.push(...taskLoad);
                }
                let doneButton = document.getElementById("doneOutputID");
                if (item.taskDone === true) { doneButton.checked = true } else { doneButton.checked = false };
            },

            computed: {
                sortedItems: function () {
                    return this.myArray.sort((p1, p2) => {
                        let modifier = 1;
                        if (this.sortDirection === 'desc') modifier = -1;
                        if (p1[this.sortBy] < p2[this.sortBy]) return -1 * modifier; if (p1[this.sortBy] > p2[this.sortBy]) return 1 * modifier;
                        return 0;
                    });
                }
            },

        })
    </script>

</body>

</html>